[Unit]
Description=dy.fi domain name updater tool
Documentation=https://github.com/boarpig/dyfi.py

[Service]
Type=oneshot
User=lauri
ExecStart=/home/lauri/bin/dyfi.py -u
