[Unit]
Description=dy.fi domain name updater tool
Documentation=https://github.com/boarpig/dyfi.py

[Service]
Type=oneshot
ExecStart=/usr/bin/dyfi.py -u
