[Unit]
Description=dy.fi domain name updater service
Documentation=https://aper.dy.fi/lauri/dyfi.py

[Service]
Type=oneshot
User=lauri
ExecStart=/home/lauri/bin/dyfi.py -u
