[Unit]
Description=dy.fi domain updater

[Timer]
OnBootSec=2min
OnCalendar=daily
Persistent=true
Unit=dyfi.service

[Install]
WantedBy=network.target
